.top_nav_comps{
    display: flex;
    justify-content: center;
    align-items: center;
}

#left_part{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: white;
    border-right: 1px solid #4b4d52;
    cursor: context-menu;
}

#left_part img{
    height: 20%;
    width: 20%;
}

#middle_part{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;   
    min-width: 0px;
    overflow: hidden;
    color: #B9BBBE; 
}

#middle_part_item_5{
    min-width: fit-content;
    color: white;
    background-color: #2D7D46;
    border-radius: 5px;
}

#middle_part_item_5:hover{
    background-color: #479660;
}

.middle_part_comps{
    padding: 2px 8px 2px 8px;;
    cursor: pointer;
    border-radius: 5px;
}

.middle_part_comps:hover{
    background-color: #4b4d52;
}

#right_part{
    position: sticky;
    right: 0px;
    /* overflow: hidden; */
    margin-right: 1rem;
    width: 200;
    gap: 1rem;
    color: #B9BBBE;
}

.right_part_icons{
    width: fit-content;
    position: relative;
    cursor: pointer;
}

.right_part_icons:hover{
    color: white;
}



.right_part_icons:first-child{
    padding-right: 1rem;
    border-right: 1px solid #4b4d52;
}