.main_wrapper{
    height: 100%;
    background-color: #202225;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #B9BBBE;
}

#bottom_comp{
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom_comps_1{
    font-size: 1.1rem;
    font-weight: 600;
}

#bottom_comps_2{
    width: 80%;
}