*{
    box-sizing: border-box;
}

#main_wrap{
    background-color: #36393F;
    height: 100%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #565757;
}

#main{
    width: 95%;
    /* border: 2px solid yellow; */
    color: white;
}

#item_1{
    margin-top: 1rem;
    /* border: 2px solid black; */
    font-weight: 700;
    font-size: 1.5rem;
}

#item_2_wrap{
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item_2_1{
    font-weight: 700;
    font-size: 1.1rem;
}

#item_2_2{
    color: #b9b9b9;
    font-size: .9rem;
    width: 90%;
    text-align: center;
    margin-top: .2rem;
}

