.main{
    background-color: #36393F;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 90% 10%;
}

#top{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
}

#welcome_part{
    min-height: fit-content;
    margin-left: 1rem;
    padding-top:1rem ;
}

#tag{
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    background-color: #4F545C;
    color: white;
}

#welcome_comp_1{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

#welcome_comp_2{
    color: #B9BBBE;
    font-size: .9rem;
    font-weight: 600;
}

#message_input{
    position: absolute;
    bottom: 10px;
    padding: 1rem;
    width: 98%;
    height: 40px;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    background-color: #40444B;
    border-radius: 5px;

}

#message_input input{
    background-color: #40444B;
    width: 100%;
    border: none;
    text-indent: 1rem;
    caret-color: white;
    color: #C9CACC;
}

#message_input input::placeholder{
    color: #70747B;
}

#message_input input:focus{
    outline: none;
}
